<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <!-- Bootstrap CSS -->
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
      integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS"
      crossorigin="anonymous"
    />
    <title>TinyApp</title>
  </head>
  <body style="font-size:20px; padding:50px;">
    <header>
      <% include ./partials/_header %>
    </header>

    <h1>My URLs</h1>

    <ul>
      <% for (const key in urls) { %> <% if (urls.hasOwnProperty(key)) { %> <%
      const url = urls[key]; %>
      <li>
        <a href="/u/<%= key %>"><%= key %></a> ->
        <a href="<%= url.longURL %>"><%= url.longURL %></a> <%= url.userID %>)
        <a href="/urls/<%= key %>">Edit</a>
        <form method="POST" action="/urls/<%= key %>/delete">
          <input type="submit" value="Delete" />
        </form>
      </li>
      <% } %> <% } %>
    </ul>
  </body>
</html>
